@page "/"
@inject IJSRuntime JS

@if (visibleElement == VisibleElement.NewAndOpenWizard)
{
	<NewOrOpenWizard OnNewClickCallback="@CreateNewContainer" OnOpenClickCallback="@OpenExistingContainer" OnGeneratePasswordsCallback="@ShowPasswordCreators" />
}
else if (visibleElement == VisibleElement.CreateNewCommonSecretsContainer)
{
	<CreateNewCommonSecretsContainer OnCancelClickCallback="@CancelNewCommonSecretsContainerCreation" OnCreateClickCallback="@CreateNewCommonSecretsContainer" SecurityAsyncFunctions="@securityAsyncFunctions" />
}
else if (visibleElement == VisibleElement.ShowPasswordCreators)
{
	<CreatePasswordSelectionNav BackCallback="@BackFromPasswordCreators" />
}
else if (visibleElement == VisibleElement.ShowLoginInformations)
{
	<CommonSecretsTopNav OnLoginsClickCallback="@TopNavShowLoginInformations" OnNotesClickCallback="@TopNavShowNotes" OnFilesClickCallback="@TopNavShowFiles" OnContactsClickCallback="@TopNavShowContacts" OnPaymentCardsClickCallback="@TopNavShowPaymentCards"
		loginsCount="@logins.Count" notesCount="@CountNotes()" filesCount="@CountFiles()" contactsCount="@contacts.Count" paymentCardsCount="@CountPaymentCards()" />
	<ShowLoginInformations Logins="@logins" AddLoginCallback="@ShowAddLoginInformation" DeleteLoginCallback="@DeleteLoginInformationConfirmation" />
}
else if (visibleElement == VisibleElement.ShowNotes)
{
	<CommonSecretsTopNav OnLoginsClickCallback="@TopNavShowLoginInformations" OnNotesClickCallback="@TopNavShowNotes" OnFilesClickCallback="@TopNavShowFiles" OnContactsClickCallback="@TopNavShowContacts" OnPaymentCardsClickCallback="@TopNavShowPaymentCards" 
		loginsCount="@logins.Count" notesCount="@CountNotes()" filesCount="@CountFiles()" contactsCount="@contacts.Count" paymentCardsCount="@CountPaymentCards()" />
	<ShowNotes Notes="@NoteSimplified.CreateNoteSimplifieds(csc.notes, csc.noteSecrets, securityAsyncFunctions, this.derivedPasswords)" AddNoteCallback="@ShowAddNote" EditNoteCallback="@ShowEditNote" DeleteNoteCallback="@DeleteNoteConfirmation" />
}
else if (visibleElement == VisibleElement.ShowFiles)
{
	<CommonSecretsTopNav OnLoginsClickCallback="@TopNavShowLoginInformations" OnNotesClickCallback="@TopNavShowNotes" OnFilesClickCallback="@TopNavShowFiles" OnContactsClickCallback="@TopNavShowContacts" OnPaymentCardsClickCallback="@TopNavShowPaymentCards" 
		loginsCount="@logins.Count" notesCount="@CountNotes()" filesCount="@CountFiles()" contactsCount="@contacts.Count" paymentCardsCount="@CountPaymentCards()" />
	<ShowFiles Files="@FileSimplified.CreateFileSimplifieds(csc.files, csc.fileSecrets, securityAsyncFunctions, this.derivedPasswords)" AddFileCallback="@ShowAddFile" EditFileCallback="@ShowEditFile" DeleteFileCallback="@DeleteFileConfirmation" />
}
else if (visibleElement == VisibleElement.ShowContacts)
{
	<CommonSecretsTopNav OnLoginsClickCallback="@TopNavShowLoginInformations" OnNotesClickCallback="@TopNavShowNotes" OnFilesClickCallback="@TopNavShowFiles" OnContactsClickCallback="@TopNavShowContacts" OnPaymentCardsClickCallback="@TopNavShowPaymentCards" 
		loginsCount="@logins.Count" notesCount="@CountNotes()" filesCount="@CountFiles()" contactsCount="@contacts.Count" paymentCardsCount="@CountPaymentCards()" />
	<ShowContacts Contacts="@contacts" AddContactCallback="@ShowAddContact" DeleteContactCallback="@DeleteContactConfirmation" />
}
else if (visibleElement == VisibleElement.ShowPaymentCards)
{
	<CommonSecretsTopNav OnLoginsClickCallback="@TopNavShowLoginInformations" OnNotesClickCallback="@TopNavShowNotes" OnFilesClickCallback="@TopNavShowFiles" OnContactsClickCallback="@TopNavShowContacts" OnPaymentCardsClickCallback="@TopNavShowPaymentCards" 
		loginsCount="@logins.Count" notesCount="@CountNotes()" filesCount="@CountFiles()" contactsCount="@contacts.Count" paymentCardsCount="@CountPaymentCards()" />
	<ShowPaymentCards PaymentCards="@PaymentCardSimplified.CreatePaymentCardSimplifieds(csc.paymentCards, csc.paymentCardSecrets, securityAsyncFunctions, this.derivedPasswords)" AddPaymentCardCallback="@ShowAddPaymentCard" EditPaymentCardCallback="@ShowEditPaymentCard" DeletePaymentCardCallback="@DeletePaymentCardConfirmation" />
}
else if (visibleElement == VisibleElement.AddLoginInformation)
{
	<AddOrEditLoginInformation SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" OnAddCallback="@AddLoginInformation" OnCancelCallback="@CancelAddLoginInformation" />
}
else if (visibleElement == VisibleElement.AddNote)
{
	<AddOrEditNote SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" OnAddCallback="@AddNote" OnAddSecretCallback="@AddNoteSecret" OnCancelAddCallback="@CancelAddNote" />
}
else if (visibleElement == VisibleElement.AddFile)
{
	<AddOrEditFile SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" OnAddCallback="@AddFile" OnAddSecretCallback="@AddFileSecret" OnCancelCallback="@CancelAddFile" />
}
else if (visibleElement == VisibleElement.AddContact)
{
	<AddOrEditContact OnAddCallback="@AddContact" OnCancelCallback="@CancelAddContact" />
}
else if (visibleElement == VisibleElement.AddPaymentCard)
{
	<AddOrEditPaymentCard SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" OnAddCallback="@AddPaymentCard" OnAddSecretCallback="@AddPaymentCardSecret" OnCancelCallback="@CancelAddPaymentCard" />
}
else if (visibleElement == VisibleElement.EditLoginInformation)
{
	<AddOrEditLoginInformation SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" OnAddCallback="@AddLoginInformation" OnCancelCallback="@CancelAddLoginInformation" />
}
else if (visibleElement == VisibleElement.EditNote)
{
	<AddOrEditNote SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" Note="@this.noteToEdit" OnEditedCallback="@EditedNote" OnCancelEditCallback="@CancelEditNote" />
}
else if (visibleElement == VisibleElement.EditFile)
{
	<AddOrEditFile SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" FileEntry="@this.fileEntryToEdit" OnEditedCallback="@EditedFile" OnCancelEditCallback="@CancelEditFile" />
}
else if (visibleElement == VisibleElement.EditContact)
{
	<AddOrEditContact OnAddCallback="@AddContact" OnCancelCallback="@CancelAddContact" />
}
else if (visibleElement == VisibleElement.EditPaymentCard)
{
	<AddOrEditPaymentCard SecurityAsyncFunctions="@securityAsyncFunctions" PossibleKeyIdentifiers="@GetKeyIdentifiers()" paymentCard="@this.paymentCardToEdit" OnEditedCallback="@EditedPaymentCard" OnCancelEditCallback="@CancelEditPaymentCard" />
}
else if (visibleElement == VisibleElement.DeleteItemConfirmation)
{
	<DeleteItemConfirmation OnDeleteClickCallback="@deleteActualAction" OnCancelClickCallback="@deleteCancelAction" WhatToDelete="@whatToDelete" />
}
else
{
	<p>Should not be visible!</p>
}


@code {

	public enum VisibleElement
	{
		NewAndOpenWizard,
		
		CreateNewCommonSecretsContainer,
		OpenExistingCommonSecretsContainer,
		
		ShowPasswordCreators,
		
		ShowLoginInformations,
		ShowNotes,
		ShowFiles,
		ShowContacts,
		ShowPaymentCards,
		
		AddLoginInformation,
		AddNote,
		AddFile,
		AddContact,
		AddPaymentCard,

		EditLoginInformation,
		EditNote,
		EditFile,
		EditContact,
		EditPaymentCard,

		DeleteItemConfirmation,
	}

	public enum ItemType
	{
		None = 0,
		LoginInformationSecret,
		LoginInformation,

		FileSecret,
		File,

		NoteSecret,
		Note,

		ContactSecret,
		Contact,

		PaymentCardSecret,
		PaymentCard
	}

	private VisibleElement visibleElement = VisibleElement.NewAndOpenWizard;

	private SecurityAsyncFunctions securityAsyncFunctions = null;

	/// <summary>
	/// Our current common secrets container reference
	/// </summary>
	private CommonSecretsContainer csc = null;

	/// <summary>
	/// Is CommonSecretsContainer modified (added element, deleted element or modified element)
	/// </summary>
	private bool isModified = false;

	/// <summary>
	/// Because we do not want to store actual passwords in memory, keep collection of derived ones (TODO: encrypt at some point)
	/// </summary>
	private readonly DerivedPasswordStorage derivedPasswords = new DerivedPasswordStorage();

	private List<LoginSimplified> logins = new List<LoginSimplified>();

	private List<ContactSimplified> contacts = new List<ContactSimplified>();

	// Edit related
	private Note noteToEdit = null;
	private FileEntry fileEntryToEdit = null;
	private PaymentCard paymentCardToEdit = null;

	// Delete related
	private ItemType deleteType = ItemType.None;
	private int deleteIndex = -1;
	private bool deleteSecure = false;
	private Action<MouseEventArgs> deleteCancelAction;
	private Action<MouseEventArgs> deleteActualAction;
	private string whatToDelete = "";

	protected override void OnInitialized()
	{
		this.securityAsyncFunctions = new SecurityAsyncFunctions(JS);
	}

	// Wizard
	private void CreateNewContainer(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.CreateNewCommonSecretsContainer;
	}

	private void OpenExistingContainer(MouseEventArgs e)
	{
		//visibleElement = VisibleElement.OpenExistingCommonSecretsContainer;

		logins = new List<LoginSimplified>() 
		{
			new LoginSimplified() 
			{
				zeroBasedIndexNumber = 0,
				IsSecure = true,
				Title = "Fake service",
				URL = "https://fakeservice.com",
				Email = "sample@email.com",
				Username = "Dragon",
				Password = "gwWTY#¤&%36",
				Category = "Samples",
				Tags = "Samples Demo",
			},
			new LoginSimplified() 
			{
				zeroBasedIndexNumber = 1,
				IsSecure = false,
				Title = "Fake mail",
				URL = "https://fakemail.com",
				Email = "sample@email.com",
				Username = "Dragon",
				Password = "Si0bSww5bYeKp7Rs",
				Category = "Samples",
				Tags = "Samples Demo",
			},
		};

		contacts = new List<ContactSimplified>()
		{
			new ContactSimplified()
			{
				zeroBasedIndexNumber = 0,
				IsSecure = true,
				FirstName = "Hanna",
				LastName = "Hard Worker",
				Emails = "hanna@localhost (work)",
				PhoneNumbers = "1-800-123123 (work)"
			},
			new ContactSimplified()
			{
				zeroBasedIndexNumber = 1,
				IsSecure = false,
				FirstName = "Mike",
				LastName = "Madr",
				Emails = "mike@localhost (work)",
				PhoneNumbers = "1-800-123321 (home)"
			}
		};

		this.visibleElement = VisibleElement.ShowLoginInformations;
	}

	private void ShowPasswordCreators(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowPasswordCreators;
	}

	private void BackFromPasswordCreators(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.NewAndOpenWizard;
	}

	// Create new common secrets container
	private void CancelNewCommonSecretsContainerCreation(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.NewAndOpenWizard;
	}

	private async Task CreateNewCommonSecretsContainer(KdfeAndPassword kdfeAndPassword)
	{
		this.derivedPasswords.SecureClear();
		this.derivedPasswords.StorePassword(kdfeAndPassword.kdfe.GetKeyIdentifier(), await kdfeAndPassword.kdfe.GeneratePasswordBytesAsync(kdfeAndPassword.password, securityAsyncFunctions));

		this.csc = new CommonSecretsContainer(kdfeAndPassword.kdfe);

		this.isModified = true;

		this.visibleElement = VisibleElement.ShowLoginInformations;
	}

	private IEnumerable<string> GetKeyIdentifiers()
	{
		return this.csc.GetKeyDerivationFunctionEntryIdentifiers();
	}

	// TopNav actions
	private void TopNavShowLoginInformations(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowLoginInformations;
	}

	private void TopNavShowNotes(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowNotes;
	}

	private void TopNavShowFiles(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowFiles;
	}

	private void TopNavShowContacts(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowContacts;
	}

	private void TopNavShowPaymentCards(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowPaymentCards;
	}

	private int CountNotes()
	{
		return this.csc.notes.Count + this.csc.noteSecrets.Count;
	}

	private int CountFiles()
	{
		return this.csc.files.Count + this.csc.fileSecrets.Count;
	}

	private int CountPaymentCards()
	{
		return this.csc.paymentCards.Count + this.csc.paymentCardSecrets.Count;
	}

	// Add, edit or delete login information
	private void ShowAddLoginInformation(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.AddLoginInformation;
	}

	private void AddLoginInformation(LoginSimplified newLogin)
	{
		logins.Add(newLogin);
		this.visibleElement = VisibleElement.ShowLoginInformations;
	}

	private void CancelAddLoginInformation(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowLoginInformations;
	}

	private void DeleteLoginInformationConfirmation(int zeroBasedIndexNumber)
	{
		deleteActualAction = DeleteLoginInformationActual;
		deleteCancelAction = DeleteLoginInformationCancel;
		deleteIndex = zeroBasedIndexNumber;
		whatToDelete = $"Login information with title '{logins[zeroBasedIndexNumber].Title}'";
		//deleteType = ItemType.LoginInformation;
		this.visibleElement = VisibleElement.DeleteItemConfirmation;
	}

	private void DeleteLoginInformationCancel(MouseEventArgs e)
	{
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowLoginInformations;
	}

	private void DeleteLoginInformationActual(MouseEventArgs e)
	{
		if (-1 < deleteIndex && deleteIndex < logins.Count)
		{
			logins.RemoveAt(deleteIndex);
		}
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowLoginInformations;
	}

	// Add, edit or delete note
	private void ShowAddNote(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.AddNote;
	}

	private void AddNote(Note newNote)
	{
		this.csc.notes.Add(newNote);
		this.isModified = true;
		this.visibleElement = VisibleElement.ShowNotes;
	}

	private async Task AddNoteSecret((Note newNote, string keyIdentifier) parameter)
	{
		if (this.derivedPasswords.DoesDerivedPasswordExist(parameter.keyIdentifier))
		{
			byte[] derivedPassword = this.derivedPasswords.GetDerivedPassword(parameter.keyIdentifier);
			await this.csc.AddNoteSecretAsync(derivedPassword, parameter.newNote, parameter.keyIdentifier, securityAsyncFunctions);
			this.isModified = true;
			this.visibleElement = VisibleElement.ShowNotes;
		}
	}

	private async Task ShowEditNote((int zeroBasedIndexNumber, bool isSecure) indexAndSecurity)
	{
		int index = indexAndSecurity.zeroBasedIndexNumber;
		if (indexAndSecurity.isSecure)
		{
			string keyIdentifier = this.csc.noteSecrets[index].GetKeyIdentifier();
			this.noteToEdit = await this.csc.noteSecrets[index].GetNoteAsync(this.derivedPasswords.GetDerivedPassword(keyIdentifier), securityAsyncFunctions);
		}
		else
		{
			this.noteToEdit = this.csc.notes[index];
		}
		this.visibleElement = VisibleElement.EditNote;
	}

	private void EditedNote()
	{
		this.isModified = true;
		this.visibleElement = VisibleElement.ShowNotes;
	}

	private void CancelAddNote(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowNotes;
	}

	private void CancelEditNote(MouseEventArgs e)
	{
		this.noteToEdit = null;
		this.visibleElement = VisibleElement.ShowNotes;
	}

	private async Task DeleteNoteConfirmation((int zeroBasedIndexNumber, bool isSecure) indexAndSecurity)
	{
		this.deleteActualAction = DeleteNoteActual;
		this.deleteCancelAction = DeleteNoteCancel;
		this.deleteIndex = indexAndSecurity.zeroBasedIndexNumber;
		this.deleteSecure = indexAndSecurity.isSecure;
		if (this.deleteSecure)
		{
			string keyIdentifier = this.csc.noteSecrets[this.deleteIndex].GetKeyIdentifier();
			this.whatToDelete = $"Note with title '{await this.csc.noteSecrets[this.deleteIndex].GetNoteTitleAsync(this.derivedPasswords.GetDerivedPassword(keyIdentifier), securityAsyncFunctions)}'";
		}
		else
		{
			this.whatToDelete = $"Note with title '{this.csc.notes[this.deleteIndex].GetNoteTitle()}'";
		}
		
		//deleteType = ItemType.Note;
		this.visibleElement = VisibleElement.DeleteItemConfirmation;
	}

	private void DeleteNoteCancel(MouseEventArgs e)
	{
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowNotes;
	}

	private void DeleteNoteActual(MouseEventArgs e)
	{
		if (this.deleteSecure)
		{
			if (-1 < deleteIndex && deleteIndex < this.csc.noteSecrets.Count)
			{
				this.csc.noteSecrets.RemoveAt(deleteIndex);
			}
		}
		else
		{
			if (-1 < deleteIndex && deleteIndex < this.csc.notes.Count)
			{
				this.csc.notes.RemoveAt(deleteIndex);
			}
		}
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowNotes;
	}

	// Add, edit or delete file
	private void ShowAddFile(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.AddFile;
	}

	private void AddFile(FileEntry newFile)
	{
		this.csc.files.Add(newFile);
		this.visibleElement = VisibleElement.ShowFiles;
		this.isModified = true;
	}

	private async Task AddFileSecret((FileEntry newFile, string keyIdentifier) parameter)
	{
		if (this.derivedPasswords.DoesDerivedPasswordExist(parameter.keyIdentifier))
		{
			byte[] derivedPassword = this.derivedPasswords.GetDerivedPassword(parameter.keyIdentifier);
			await this.csc.AddFileEntrySecretAsync(derivedPassword, parameter.newFile, parameter.keyIdentifier, securityAsyncFunctions);
			this.isModified = true;
			this.visibleElement = VisibleElement.ShowFiles;
		}
	}

	private async Task ShowEditFile((int zeroBasedIndexNumber, bool isSecure) indexAndSecurity)
	{
		int index = indexAndSecurity.zeroBasedIndexNumber;
		if (indexAndSecurity.isSecure)
		{
			string keyIdentifier = this.csc.fileSecrets[index].GetKeyIdentifier();
			this.fileEntryToEdit = await this.csc.fileSecrets[index].GetFileEntryAsync(this.derivedPasswords.GetDerivedPassword(keyIdentifier), securityAsyncFunctions);
		}
		else
		{
			this.fileEntryToEdit = this.csc.files[index];
		}
		
		this.visibleElement = VisibleElement.EditFile;
	}

	private void EditedFile()
	{
		this.isModified = true;
		this.visibleElement = VisibleElement.ShowFiles;
	}

	private void CancelAddFile(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowFiles;
	}

	private void CancelEditFile(MouseEventArgs e)
	{
		this.fileEntryToEdit = null;
		this.visibleElement = VisibleElement.ShowFiles;
	}

	private async Task DeleteFileConfirmation((int zeroBasedIndexNumber, bool isSecure) indexAndSecurity)
	{
		this.deleteActualAction = DeleteFileActual;
		this.deleteCancelAction = DeleteFileCancel;
		this.deleteIndex = indexAndSecurity.zeroBasedIndexNumber;
		this.deleteSecure = indexAndSecurity.isSecure;
		if (this.deleteSecure)
		{
			string keyIdentifier = this.csc.fileSecrets[this.deleteIndex].GetKeyIdentifier();
			this.whatToDelete = $"File with filename '{await this.csc.fileSecrets[this.deleteIndex].GetFilenameAsync(this.derivedPasswords.GetDerivedPassword(keyIdentifier), securityAsyncFunctions)}'";
		}
		else
		{
			this.whatToDelete = $"File with filename '{this.csc.files[this.deleteIndex].GetFilename()}'";
		}
		//
		//deleteType = ItemType.File;
		this.visibleElement = VisibleElement.DeleteItemConfirmation;
	}

	private void DeleteFileCancel(MouseEventArgs e)
	{
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowFiles;
	}

	private void DeleteFileActual(MouseEventArgs e)
	{
		if (this.deleteSecure)
		{
			if (-1 < deleteIndex && deleteIndex < this.csc.fileSecrets.Count)
			{
				this.csc.fileSecrets.RemoveAt(deleteIndex);
			}
		}
		else
		{
			if (-1 < deleteIndex && deleteIndex < this.csc.files.Count)
			{
				this.csc.files.RemoveAt(deleteIndex);
			}
		}
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowFiles;
	}

	// Add, edit or delete contact
	private void ShowAddContact(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.AddContact;
	}

	private void AddContact(ContactSimplified newContact)
	{
		contacts.Add(newContact);
		this.visibleElement = VisibleElement.ShowContacts;
	}

	private void CancelAddContact(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowContacts;
	}

	private void DeleteContactConfirmation(int zeroBasedIndexNumber)
	{
		deleteActualAction = DeleteContactActual;
		deleteCancelAction = DeleteContactCancel;
		deleteIndex = zeroBasedIndexNumber;
		whatToDelete = $"Contact with name '{contacts[zeroBasedIndexNumber].FirstName} {contacts[zeroBasedIndexNumber].LastName}'";
		//deleteType = ItemType.ContactInformation;
		this.visibleElement = VisibleElement.DeleteItemConfirmation;
	}

	private void DeleteContactCancel(MouseEventArgs e)
	{
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowContacts;
	}

	private void DeleteContactActual(MouseEventArgs e)
	{
		if (-1 < deleteIndex && deleteIndex < contacts.Count)
		{
			contacts.RemoveAt(deleteIndex);
		}
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowContacts;
	}

	// Add, edit or delete  payment card
	private void ShowAddPaymentCard(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.AddPaymentCard;
	}

	private void AddPaymentCard(PaymentCard newPaymentCard)
	{
		this.csc.paymentCards.Add(newPaymentCard);
		this.isModified = true;
		this.visibleElement = VisibleElement.ShowPaymentCards;
	}

	private async Task AddPaymentCardSecret((PaymentCard newPaymentCard, string keyIdentifier) parameter)
	{
		if (this.derivedPasswords.DoesDerivedPasswordExist(parameter.keyIdentifier))
		{
			byte[] derivedPassword = this.derivedPasswords.GetDerivedPassword(parameter.keyIdentifier);
			await this.csc.AddPaymentCardSecretAsync(derivedPassword, parameter.newPaymentCard, parameter.keyIdentifier, securityAsyncFunctions);
			this.isModified = true;
			this.visibleElement = VisibleElement.ShowPaymentCards;
		}
	}

	private async Task ShowEditPaymentCard((int zeroBasedIndexNumber, bool isSecure) indexAndSecurity)
	{
		int index = indexAndSecurity.zeroBasedIndexNumber;
		if (indexAndSecurity.isSecure)
		{
			string keyIdentifier = this.csc.paymentCardSecrets[index].GetKeyIdentifier();
			this.paymentCardToEdit = await this.csc.paymentCardSecrets[index].GetPaymentCardAsync(this.derivedPasswords.GetDerivedPassword(keyIdentifier), securityAsyncFunctions);
		}
		else
		{
			this.paymentCardToEdit = this.csc.paymentCards[index];
		}
		this.visibleElement = VisibleElement.EditPaymentCard;
	}

	private void EditedPaymentCard()
	{
		this.isModified = true;
		this.visibleElement = VisibleElement.ShowPaymentCards;
	}

	private void CancelAddPaymentCard(MouseEventArgs e)
	{
		this.visibleElement = VisibleElement.ShowPaymentCards;
	}

	private void CancelEditPaymentCard(MouseEventArgs e)
	{
		this.paymentCardToEdit = null;
		this.visibleElement = VisibleElement.ShowPaymentCards;
	}

	private async Task DeletePaymentCardConfirmation((int zeroBasedIndexNumber, bool isSecure) indexAndSecurity)
	{
		this.deleteActualAction = DeletePaymentCardActual;
		this.deleteCancelAction = DeletePaymentCardCancel;
		this.deleteIndex = indexAndSecurity.zeroBasedIndexNumber;
		this.deleteSecure = indexAndSecurity.isSecure;
		if (this.deleteSecure)
		{
			string keyIdentifier = this.csc.paymentCardSecrets[this.deleteIndex].GetKeyIdentifier();
			this.whatToDelete = $"Payment card with title '{await this.csc.paymentCardSecrets[this.deleteIndex].GetTitleAsync(this.derivedPasswords.GetDerivedPassword(keyIdentifier), securityAsyncFunctions)}'";
		}
		else
		{
			this.whatToDelete = $"Payment card with title '{this.csc.paymentCards[this.deleteIndex].GetTitle()}'";
		}
		
		//deleteType = ItemType.PaymentCard;
		this.visibleElement = VisibleElement.DeleteItemConfirmation;
	}

	private void DeletePaymentCardCancel(MouseEventArgs e)
	{
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowPaymentCards;
	}

	private void DeletePaymentCardActual(MouseEventArgs e)
	{
		if (this.deleteSecure)
		{
			if (-1 < deleteIndex && deleteIndex < this.csc.paymentCardSecrets.Count)
			{
				this.csc.paymentCardSecrets.RemoveAt(deleteIndex);
			}
		}
		else
		{
			if (-1 < deleteIndex && deleteIndex < this.csc.paymentCards.Count)
			{
				this.csc.paymentCards.RemoveAt(deleteIndex);
			}
		}
		this.ResetDelete();
		this.visibleElement = VisibleElement.ShowPaymentCards;
	}

	// Delete common
	private void ResetDelete()
	{
		deleteActualAction = null;
		deleteCancelAction = null;
		deleteIndex = -1;
		deleteSecure = false;
		deleteType = ItemType.None;
		whatToDelete = "";
	}
}