<section>
    <form>
        @if (LoginInformation != null)
        {
            <header>Edit login information</header>
        }
        else
        {
            <header>Add login information</header>
        }
        
        <label for="issecure">Is secure @if (IsSecure) {@CommonIcons.secureIcon} else {@CommonIcons.unsecureIcon}</label>
		<input type="checkbox" id="issecure" @bind="@IsSecure">
		<br>
        @if (IsSecure)
        {
            <SelectKeyIdentifier PossibleKeyIdentifiers="@PossibleKeyIdentifiers" KeyIdentifierChanged="@KeyIdentifierSelected" />
            <br>
        }

		<label for="logininformationtitle">Login title</label>
		<input type="text" id="logininformationtitle" @bind="@LoginInformationTitle" placeholder="Title for the login information">
		<br>
        <label for="logininformationurl">Login URL</label>
		<input type="text" id="logininformationurl" @bind="@LoginInformationURL" placeholder="URL for the login information">
		<br>
        <label for="logininformationemail">Login email</label>
		<input type="text" id="logininformationemail" @bind="@LoginInformationEmail" placeholder="Email for the login information">
		<br>
        <label for="logininformationusername">Login username</label>
		<input type="text" id="logininformationusername" @bind="@LoginInformationUsername" placeholder="Username for the login information">
		<br>
        <label for="logininformationpassword">Login password</label>
		<input type="text" id="logininformationpassword" @bind="@LoginInformationPassword" placeholder="Password for the login information">
		<br>
        <label for="logininformationnote">Login notes</label>
        <textarea id="logininformationnote" @bind="@LoginInformationNote" rows="5" placeholder="Note for the login information"></textarea>
        <br>
        <label for="logininformationcategory">Login category</label>
		<input type="text" id="logininformationcategory" @bind="@LoginInformationCategory" placeholder="Category for the login information">
		<br>
        <label for="logininformationtags">Login tags</label>
		<input type="text" id="logininformationtags" @bind="@LoginInformationTags" placeholder="Tags for the login information">
		<br>
        <br>

        @if (LoginInformation != null)
        {
            <button type="button" id="cancelEdit" @onclick="OnCancelEditCallback">Cancel</button> 
            <button type="button" id="editlogininformation" @onclick="TryToEditLoginInformation">Save changes</button>
        }
        else
        {
            <button type="button" id="cancel" @onclick="OnCancelAddCallback">Cancel</button> 
            <button type="button" id="addlogininformation" @onclick="TryToAddLoginInformation">Add login information</button>
        }
        
    </form>
</section>

@code {
    [Parameter]
    public LoginInformation LoginInformation { get; set; }

    [Parameter, EditorRequired]
    public ISecurityAsyncFunctions SecurityAsyncFunctions { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<string> PossibleKeyIdentifiers { get; set; }

    [Parameter]
    public EventCallback<LoginInformation> OnAddCallback { get; set; }

    [Parameter]
    public EventCallback<(LoginInformation, string)> OnAddSecretCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnEditedCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelAddCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelEditCallback { get; set; }

    [Parameter]
    public bool IsSecure { get; set; } = true;

    private string keyIdentifier { get; set; } = "";

    public string LoginInformationTitle { get; set; } = "";

    public string LoginInformationURL { get; set; } = "";

    public string LoginInformationEmail { get; set; } = "";

    public string LoginInformationUsername { get; set; } = "";

    public string LoginInformationPassword { get; set; } = "";

    public string LoginInformationNote { get; set; } = "";

    public string LoginInformationCategory { get; set; } = "";

    public string LoginInformationTags { get; set; } = "";

    private void TryToAddLoginInformation()
    {
        /*LoginInformation newLogin = await LoginInformation.CreateLoginInformationAsync(this.NoteTitle, this.NoteText, this.SecurityAsyncFunctions);

        // New note (either secret or not)
        if (IsSecure)
        {
            await OnAddSecretCallback.InvokeAsync((newLogin, keyIdentifier));
        }
        else
        {
            await OnAddCallback.InvokeAsync(newLogin);
        }
        */
    }

    /// <summary>
    /// When user saves changes to existing note
    /// </summary>
    /// <returns></returns>
    private async Task TryToEditLoginInformation()
    {
        //await this.LoginInformation.UpdateNoteAsync(this.NoteTitle, this.NoteText, this.SecurityAsyncFunctions);
        await OnEditedCallback.InvokeAsync();
    }

    private void KeyIdentifierSelected(string newSelection)
    {
        this.keyIdentifier = newSelection;
    }
}