<section>
    <form>
        <header>Add note</header>
        <label for="issecure">Is secure @if (IsSecure) {@CommonIcons.secureIcon} else {@CommonIcons.unsecureIcon}</label>
		<input type="checkbox" id="issecure" @bind="@IsSecure">
        <br>
        @if (IsSecure)
        {
            <InputSelect @bind-Value="KeyIdentifier">
				@foreach (string keyIdentifier in PossibleKeyIdentifiers)
                {
                    <option value="@keyIdentifier">@keyIdentifier</option>
                }
			</InputSelect>
            <br>
        }
		
		<label for="notetitle">Note title</label>
		<input type="text" id="notetitle" @bind="@NoteTitle" placeholder="Title for the note">
		<br>
        <label for="notetext">Note text</label>
        <textarea id="notetext" @bind="@NoteText" rows="20" placeholder="Text for the note"></textarea>
        <br>
        <br>
        <button type="button" id="cancel" @onclick="OnCancelCallback">Cancel</button> <button type="button" id="addnote" @onclick="TryToAddNote">Add note</button>
    </form>
</section>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<string> PossibleKeyIdentifiers { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<NoteSimplified> OnAddCallback { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<MouseEventArgs> OnCancelCallback { get; set; }

    public bool IsSecure { get; set; } = true;

    public string KeyIdentifier { get; set; } = "";

    public string NoteTitle { get; set; } = "";

    public string NoteText { get; set; } = "";

    private async Task TryToAddNote()
    {
        await OnAddCallback.InvokeAsync(new NoteSimplified() { IsSecure = this.IsSecure, Title = NoteTitle, Text = NoteText});
    }
}