<section>
    <form>
        @if (FileEntry != null)
        {
            <header>Edit file</header>
        }
        else
        {
            <header>Add file</header>
        }
        <label for="issecure">Is secure @if (IsSecure) {@CommonIcons.secureIcon} else {@CommonIcons.unsecureIcon}</label>
		<input type="checkbox" id="issecure" @bind="@IsSecure">
		<br>
        <br>
        @if (IsSecure)
        {
            <SelectKeyIdentifier PossibleKeyIdentifiers="@PossibleKeyIdentifiers" KeyIdentifierChanged="@KeyIdentifierSelected" />
            <br>
        }
		<label for="filename">Filename</label>
		<input type="text" id="filename" @bind="@FileName" placeholder="Filename">
		<br>
        <InputFile OnChange="@LoadFiles"/>
        <br>
        <br>

        @if (FileEntry != null)
        {
            <button type="button" id="cancelEdit" @onclick="OnCancelEditCallback">Cancel</button> 
            <button type="button" id="editfile" @onclick="TryToEditFileEntry">Save changes</button>
        }
        else
        {
            <button type="button" id="cancelAdd" @onclick="OnCancelAddCallback">Cancel</button> 
            <button type="button" id="addfile" @onclick="TryToAddFileEntry">Add file</button>
        }   
    </form>
</section>

@code {
    [Parameter]
    public FileEntry FileEntry { get; set; }

    [Parameter, EditorRequired]
    public ISecurityAsyncFunctions SecurityAsyncFunctions { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<string> PossibleKeyIdentifiers { get; set; }

    [Parameter]
    public EventCallback<FileEntry> OnAddCallback { get; set; }

    [Parameter]
    public EventCallback<(FileEntry, string)> OnAddSecretCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnEditedCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelAddCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelEditCallback { get; set; }

    [Parameter]
    public bool IsSecure { get; set; } = true;

    private string keyIdentifier { get; set; } = "";

    public string FileName { get; set; } = "";

    public byte[] fileContent { get; set; }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();

        e.File.OpenReadStream().CopyToAsync(ms);
        fileContent = ms.ToArray();

        if (string.IsNullOrEmpty(FileName))
        {
            FileName = e.File.Name;
        }
    }

    private void TryToAddFileEntry()
    {
        OnAddCallback.InvokeAsync();
    }

    /// <summary>
    /// When user saves changes to existing file entry
    /// </summary>
    /// <returns></returns>
    private async Task TryToEditFileEntry()
    {
        await this.FileEntry.UpdateFileEntryAsync(FileName, fileContent, this.SecurityAsyncFunctions);
        await OnEditedCallback.InvokeAsync();
    }

    private void KeyIdentifierSelected(string newSelection)
    {
        this.keyIdentifier = newSelection;
    }
}