
<section>
	<header>
	<h3>Create a new CommonSecrets file</h3>
	</header>

	<EditForm Model="@createNewCommonSecretsContainerData" OnValidSubmit="@HandlePasswordSubmit">
		<header>
			<h4>Primary password</h4>
		</header>
		
		<p>
			<label>Primary password:
				<InputText id="password" @bind-Value="createNewCommonSecretsContainerData.Password" />
			</label>
		</p>

		@if (visiblePassword)
		{

		}
		else
		{
			<p>
				<label>Repeat password:
					<InputText id="repeatpassword" @bind-Value="createNewCommonSecretsContainerData.RepeatPassword" />
				</label>
			</p>
		}

		<p>
			<label>Visible
				<InputCheckbox id="visiblePassword" @bind-Value="visiblePassword" />
			</label>      
		</p>

		<p>
			<label>Password entropy: @createNewCommonSecretsContainerData.PasswordEntropy</label>
			<label>Shannon entropy: @createNewCommonSecretsContainerData.ShannonEntropy</label>
		</p>

		<DataAnnotationsValidator />
		<ValidationSummary />
	</EditForm>

	<EditForm Model="@keyDerivationFunctionData">
		<header>
			<h4>Key Derivation Function (KDF)</h4>
		</header>
		<p>
			<label>Algorithm:
				<select id="alogrithm">
					<option>PBKDF2</option>
				</select>	
			</label>
		</p>
		<p>
			<label>Pseudorandom function:
				<InputSelect @bind-Value="keyDerivationFunctionData.SelectedPseudorandomFunction">
					<option value="HMACSHA256">HMACSHA256</option>
					<option value="HMACSHA512">HMACSHA512</option>
				</InputSelect>	
			</label>
		</p>
		<p>
			<label>Salt:
				<input type="text" value="@keyDerivationFunctionData.Salt" readonly>
			</label>
		</p>

		<p>
			<label>Iterations:
				<InputNumber @bind-Value="keyDerivationFunctionData.Iterations" />
			</label>
		</p>

		<p>
			<label>Identifier:
				<InputText @bind-Value="keyDerivationFunctionData.Identifier" />
			</label>
		</p>

		<DataAnnotationsValidator />
		<ValidationSummary />
	</EditForm>
	<p><button @onclick="OnCancelClickCallback">Cancel</button> <button @onclick="HandleCreate">Create</button></p>
</section>

@code {
	[Parameter]
	public EventCallback<MouseEventArgs> OnCancelClickCallback { get; set; }

	[Parameter]
	public EventCallback<KdfeAndPassword> OnCreateClickCallback { get; set; }

	[Parameter]
	public ISecurityAsyncFunctions SecurityAsyncFunctions { get; set; }

	private bool visiblePassword { get; set; } = false;

	private string UnsafePasswordWarning { get; set; } = "";

	private CreateNewCommonSecretsContainerData createNewCommonSecretsContainerData = new CreateNewCommonSecretsContainerData();

	private KeyDerivationFunctionData keyDerivationFunctionData = null;

	protected override void OnInitialized()
	{
		this.keyDerivationFunctionData = new KeyDerivationFunctionData(SecurityAsyncFunctions);
	}

	private async Task HandleCreate()
	{
		int neededBytes = (keyDerivationFunctionData.SelectedPseudorandomFunction == KeyDerivationPseudoRandomFunction.HMACSHA256) ? 32 : 64;
		KeyDerivationFunctionEntry kdfe = await KeyDerivationFunctionEntry.CreateKeyDerivationFunctionEntryAsync(keyDerivationFunctionData.SelectedPseudorandomFunction, keyDerivationFunctionData.GetSaltAsByteArray(), keyDerivationFunctionData.Iterations, neededBytes, keyDerivationFunctionData.Identifier, SecurityAsyncFunctions);
		await OnCreateClickCallback.InvokeAsync(new KdfeAndPassword(kdfe, createNewCommonSecretsContainerData.Password));
	}

	private void HandlePasswordSubmit()
	{
		
	}

	
}