@inject IJSRuntime JS

@if (Logins == null || Logins.Count < 1)
{
	<p>No login informations</p>
}
else
{
<input type='text' @bind="@SearchFilter" placeholder="Filter, press Enter to apply" />
@if (!string.IsNullOrEmpty(searchFilter))
{
	<br>
	<p>Filter is matching @FilteredLogins.Count / @Logins.Count </p>
}

<table id="logins">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Title
			</th>
			<th>
				Address / URL
			</th>
			<th>
				Email
			</th>
			<th>
				Username
			</th>
			<th>
				Password
			</th>
			<th>
				Category
			</th>
			<th>
				Tags
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		
		@foreach (var item in FilteredLogins)
        {
			int indexToHandle = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Title <a title="Copy title" @onclick="() => CallTitleCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.URL <a title="Copy URL" @onclick="() => CallURLCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.Email <a title="Copy email" @onclick="() => CallEmailCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.Username <a title="Copy username" @onclick="() => CallUsernameCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.Password <a title="Copy password" @onclick="() => CallPasswordCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.Category
				</th>
				<th>
					@item.Tags
				</th>
				<th>
					<a title="Delete" @onclick="() => CallDelete(indexToHandle)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>
}
<br>

<button title="Add login information" @onclick="AddLoginCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<LoginSimplified> Logins { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddLoginCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	private IReadOnlyList<LoginSimplified> FilteredLogins { get; set; }

	private static readonly StringComparison searchComparison = StringComparison.OrdinalIgnoreCase;
	private string searchFilter = "";
	private string SearchFilter 
	{ 
		get
		{
			return this.searchFilter;
		} 
		set
		{
			this.searchFilter = value;
			if (string.IsNullOrEmpty(this.searchFilter))
			{
				this.FilteredLogins = this.Logins;
			}
			else
			{
				this.FilteredLogins = this.Logins.Where(x => x.Title.Contains(this.searchFilter, searchComparison) || x.URL.Contains(this.searchFilter, searchComparison) || x.Email.Contains(this.searchFilter, searchComparison) || x.Username.Contains(this.searchFilter, searchComparison)).ToList();
			}
			
		} 
	}

	protected override void OnInitialized()
	{
		this.FilteredLogins = this.Logins;
	}

	// Copy to clipboard methods
	private async Task CallTitleCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Logins[zeroBasedIndexNumber].Title);
	}

	private async Task CallURLCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Logins[zeroBasedIndexNumber].URL);
	}

	private async Task CallEmailCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Logins[zeroBasedIndexNumber].Email);
	}

	private async Task CallUsernameCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Logins[zeroBasedIndexNumber].Username);
	}

	private async Task CallPasswordCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Logins[zeroBasedIndexNumber].Password);
	}

	// Delete method
	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}