@inject IJSRuntime JS

@if (Contacts == null || Contacts.Count < 1)
{
	<p>No contacts</p>
}
else
{
<input type='text' @bind="@SearchFilter" placeholder="Filter, press Enter to apply" />
@if (!string.IsNullOrEmpty(searchFilter))
{
	<br>
	<p>Filter is matching @FilteredContacts.Count / @Contacts.Count </p>
}

<table id="contacts">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				First name
			</th>
			<th>
				Last name
			</th>
            <th>
				Email(s)
			</th>
            <th>
				Phone number(s)
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in FilteredContacts)
        {
			int indexToHandle = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.FirstName <a title="Copy first name" @onclick="() => CallFirstNameCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.LastName <a title="Copy last name" @onclick="() => CallLastNameCopy(indexToHandle)">✂️</a>
				</th>
                <th>
					@item.Emails
				</th>
                <th>
					@item.PhoneNumbers
				</th>
				<th>
					<a title="Delete" @onclick="() => CallDelete(indexToHandle)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>
}
<br>

<button title="Add contact" @onclick="AddContactCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<ContactSimplified> Contacts { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddContactCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	private IReadOnlyList<ContactSimplified> FilteredContacts { get; set; }

	private static readonly StringComparison searchComparison = StringComparison.OrdinalIgnoreCase;
	private string searchFilter = "";
	private string SearchFilter 
	{ 
		get
		{
			return this.searchFilter;
		} 
		set
		{
			this.searchFilter = value;
			if (string.IsNullOrEmpty(this.searchFilter))
			{
				this.FilteredContacts = this.Contacts;
			}
			else
			{
				this.FilteredContacts = this.Contacts.Where(x => x.FirstName.Contains(this.searchFilter, searchComparison) || x.LastName.Contains(this.searchFilter, searchComparison) || x.Emails.Contains(this.searchFilter, searchComparison) || x.PhoneNumbers.Contains(this.searchFilter, searchComparison)).ToList();
			}
			
		} 
	}

	protected override void OnInitialized()
	{
		this.FilteredContacts = this.Contacts;
	}

	// Copy to clipboard methods
	private async Task CallFirstNameCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Contacts[zeroBasedIndexNumber].FirstName);
	}

	private async Task CallLastNameCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Contacts[zeroBasedIndexNumber].LastName);
	}

	// Delete method
	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}