@inject IJSRuntime JS

@if (PaymentCards == null || PaymentCards.Count < 1)
{
	<p>No contacts</p>
}
else
{
<input type='text' @bind="@SearchFilter" placeholder="Filter, press Enter to apply" />
@if (!string.IsNullOrEmpty(searchFilter))
{
	<br>
	<p>Filter is matching @FilteredPaymentCards.Count / @PaymentCards.Count </p>
}

<table id="paymentcards">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Title
			</th>
			<th>
				Name on the card
			</th>
            <th>
				Card type
			</th>
            <th>
				Number
			</th>
            <th>
				Security code
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in FilteredPaymentCards)
        {
			int indexToHandle = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Title <a title="Copy title" @onclick="() => CallTitleCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.NameOnTheCard <a title="Copy name on the card" @onclick="() => CallNameOnTheCardCopy(indexToHandle)">✂️</a>
				</th>
                <th>
					@item.CardType
				</th>
                <th>
					@item.Number <a title="Copy number" @onclick="() => CallNumberCopy(indexToHandle)">✂️</a>
				</th>
                <th>
					@item.SecurityCode <a title="Copy security code" @onclick="() => CallSecurityCodeCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					<a title="Delete payment card" @onclick="() => CallDelete(indexToHandle)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>
}
<br>

<button title="Add payment card" @onclick="AddPaymentCardCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<PaymentCardSimplified> PaymentCards { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddPaymentCardCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeletePaymentCardCallback { get; set; }

	private IReadOnlyList<PaymentCardSimplified> FilteredPaymentCards { get; set; }

	private static readonly StringComparison searchComparison = StringComparison.OrdinalIgnoreCase;
	private string searchFilter = "";
	private string SearchFilter 
	{ 
		get
		{
			return this.searchFilter;
		} 
		set
		{
			this.searchFilter = value;
			if (string.IsNullOrEmpty(this.searchFilter))
			{
				this.FilteredPaymentCards = this.PaymentCards;
			}
			else
			{
				this.FilteredPaymentCards = this.PaymentCards.Where(x => x.Title.Contains(this.searchFilter, searchComparison) || x.NameOnTheCard.Contains(this.searchFilter, searchComparison) || x.Number.Contains(this.searchFilter, searchComparison) || x.SecurityCode.Contains(this.searchFilter, searchComparison)).ToList();
			}
			
		} 
	}

	protected override void OnInitialized()
	{
		this.FilteredPaymentCards = this.PaymentCards;
	}

	// Copy to clipboard methods
	private async Task CallTitleCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", PaymentCards[zeroBasedIndexNumber].Title);
	}

	private async Task CallNameOnTheCardCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", PaymentCards[zeroBasedIndexNumber].NameOnTheCard);
	}

	private async Task CallNumberCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", PaymentCards[zeroBasedIndexNumber].Number);
	}

	private async Task CallSecurityCodeCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", PaymentCards[zeroBasedIndexNumber].SecurityCode);
	}

	// Delete method
	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeletePaymentCardCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}