@inject IJSRuntime JS

@if (files == null || files.Count < 1)
{
	<p>No files</p>
}
else
{
<input type='text' @bind="@SearchFilter" placeholder="Filter, press Enter to apply" />
@if (!string.IsNullOrEmpty(searchFilter))
{
	<br>
	<p>Filter is matching @filteredFiles.Count / @files.Count </p>
}

<table id="files">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Filename
			</th>
			<th>
				File size
			</th>
            <th>
				File type
			</th>
			<th>
				Created
			</th>
			<th>
				Modified
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in filteredFiles)
        {
			int indexToHandle = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Filename <a title="Copy filename" @onclick="() => CallFilenameCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.Filesize
				</th>
                <th>
					@item.Filetype
				</th>
				<th>
					@item.CreationTime
				</th>
				<th>
					@item.ModificationTime
				</th>
				<th>
					<a title="Delete file" @onclick="() => CallDelete(indexToHandle)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>
}
<br>

<button title="Add file" @onclick="AddFileCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public Task<FileSimplified[]> Files { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddFileCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> EditFileCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteFileCallback { get; set; }

	private IReadOnlyList<FileSimplified> files { get; set; }
	private IReadOnlyList<FileSimplified> filteredFiles { get; set; }

	private static readonly StringComparison searchComparison = StringComparison.OrdinalIgnoreCase;
	private string searchFilter = "";
	private string SearchFilter 
	{ 
		get
		{
			return this.searchFilter;
		} 
		set
		{
			this.searchFilter = value;
			if (string.IsNullOrEmpty(this.searchFilter))
			{
				this.filteredFiles = this.files;
			}
			else
			{
				this.filteredFiles = this.files.Where(x => x.Filename.Contains(this.searchFilter, searchComparison)).ToList();
			}
			
		} 
	}

	protected override async Task OnInitializedAsync()
	{
		this.files = await Files;
		this.filteredFiles = this.files;
	}

	// Copy to clipboard methods
	private async Task CallFilenameCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", files[zeroBasedIndexNumber].Filename);
	}

	// Delete method
	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteFileCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}