<table id="files">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Filename
			</th>
			<th>
				File size
			</th>
            <th>
				File type
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Files)
        {
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Filename
				</th>
				<th>
					@item.Filesize
				</th>
                <th>
					@item.Filetype
				</th>
			</tr>
        }
	</tbody>
</table>

<br>

<button title="Add file">+ Add</button>
@code {
    [Parameter]
    public IReadOnlyList<FileSimplified> Files { get; set; }

}