<table id="contacts">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				First name
			</th>
			<th>
				Last name
			</th>
            <th>
				Email(s)
			</th>
            <th>
				Phone number(s)
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Contacts)
        {
			int indexToDelete = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.FirstName
				</th>
				<th>
					@item.LastName
				</th>
                <th>
					@item.Emails
				</th>
                <th>
					@item.PhoneNumbers
				</th>
				<th>
					<a title="Delete" @onclick="() => CallDelete(indexToDelete)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>

<br>

<button title="Add contact" @onclick="AddContactCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<ContactSimplified> Contacts { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddContactCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}