<table id="files">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Filename
			</th>
			<th>
				File size
			</th>
            <th>
				File type
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Files)
        {
			int indexToDelete = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Filename
				</th>
				<th>
					@item.Filesize
				</th>
                <th>
					@item.Filetype
				</th>
				<th>
					<a @onclick="() => CallDelete(indexToDelete)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>

<br>

<button title="Add file" @onclick="AddFileCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<FileSimplified> Files { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddFileCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}