<table id="paymentcards">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Title
			</th>
			<th>
				Name on the card
			</th>
            <th>
				Card type
			</th>
            <th>
				Number
			</th>
            <th>
				Security code
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in PaymentCards)
        {
			int indexToDelete = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Title
				</th>
				<th>
					@item.NameOnTheCard
				</th>
                <th>
					@item.CardType
				</th>
                <th>
					@item.Number
				</th>
                <th>
					@item.SecurityCode
				</th>
				<th>
					<a title="Delete" @onclick="() => CallDelete(indexToDelete)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>

<br>

<button title="Add payment card" @onclick="AddPaymentCardCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<PaymentCardSimplified> PaymentCards { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddPaymentCardCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}