@inject IJSRuntime JS

@if (Notes == null || Notes.Count < 1)
{
	<p>No notes</p>
}
else
{
<input type='text' @bind="@SearchFilter" placeholder="Filter, press Enter to apply" />
@if (!string.IsNullOrEmpty(searchFilter))
{
	<br>
	<p>Filter is matching @FilteredNotes.Count / @Notes.Count </p>
}
<table id="notes">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Title
			</th>
			<th>
				Text
			</th>
			<th>
				Created
			</th>
			<th>
				Modified
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in FilteredNotes)
        {
			int indexToHandle = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Title <a title="Copy title" @onclick="() => CallTitleCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.Text <a title="Copy text" @onclick="() => CallTextCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.CreationTime
				</th>
				<th>
					@item.ModificationTime
				</th>
				<th>
					<a title="Edit" @onclick="() => CallEdit(indexToHandle)">Edit 🖊️</a> | <a title="Delete" @onclick="() => CallDelete(indexToHandle)">Delete 🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>
}
<br>

<button title="Add note" @onclick="AddNoteCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<NoteSimplified> Notes { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddNoteCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> EditNoteCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteNoteCallback { get; set; }

	private IReadOnlyList<NoteSimplified> FilteredNotes { get; set; }

	private static readonly StringComparison searchComparison = StringComparison.OrdinalIgnoreCase;
	private string searchFilter = "";
	private string SearchFilter 
	{ 
		get
		{
			return this.searchFilter;
		} 
		set
		{
			this.searchFilter = value;
			if (string.IsNullOrEmpty(this.searchFilter))
			{
				this.FilteredNotes = this.Notes;
			}
			else
			{
				this.FilteredNotes = this.Notes.Where(x => x.Title.Contains(this.searchFilter, searchComparison) || x.Text.Contains(this.searchFilter, searchComparison)).ToList();
			}
		} 
	}

	protected override void OnInitialized()
	{
		this.FilteredNotes = this.Notes;
	}

	// Copy to clipboard methods
	private async Task CallTitleCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Notes[zeroBasedIndexNumber].Title);
	}

	private async Task CallTextCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Notes[zeroBasedIndexNumber].Text);
	}

	// Edit method
	private async Task CallEdit(int zeroBasedIndexNumber)
	{
		await EditNoteCallback.InvokeAsync(zeroBasedIndexNumber);
	}

	// Delete method
	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteNoteCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}