
<table id="logins">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Title
			</th>
			<th>
				Address / URL
			</th>
			<th>
				Email
			</th>
			<th>
				Username
			</th>
			<th>
				Password
			</th>
			<th>
				Category
			</th>
			<th>
				Tags
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Logins)
        {
			int indexToDelete = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Title
				</th>
				<th>
					@item.URL
				</th>
				<th>
					@item.Email
				</th>
				<th>
					@item.Username
				</th>
				<th>
					@item.Password
				</th>
				<th>
					@item.Category
				</th>
				<th>
					@item.Tags
				</th>
				<th>
					<a @onclick="() => CallDelete(indexToDelete)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>

<br>

<button title="Add login information" @onclick="AddLoginCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<LoginSimplified> Logins { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddLoginCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}